.hero.wasd-gradient {
  background-image: linear-gradient(
    5deg,
    $hero-gradient-end 5%,
    $hero-gradient-start 70%
  );

  color: $hero-text;

  & .hero-body {
    padding-top: 0;
  }

  & strong,
  & a {
    color: $hero-text;
  }

  & .hero-items {
    display: flex;
    flex-direction: column;
    align-items: center;

    & * {
      z-index: 5;
    }

    & *:not(:last-child) {
      margin-bottom: 20px;
    }

    &:first-child {
      margin-top: 20px;
    }

    & p {
      text-align: center;

      & a {
        text-decoration: underline;

        &:hover,
        &:focus {
          color: white;
        }
      }
    }
  }

  & .hero-streaks {
    & * {
      transform: rotate(188deg);

      border-radius: 49px;

      z-index: 1;
    }

    & .pos-1 {
      position: absolute;

      left: calc(50vw - 86px);
      top: 268px;

      @media only screen and (min-width: $mobile-width) {
        top: 256px;
      }
    }

    & .pos-2 {
      position: absolute;

      left: calc(50vw - 736px);
      top: 130px;
    }

    & .pos-3 {
      position: absolute;

      left: calc(50vw - 668px);
      top: 96px;
    }

    & .pos-4 {
      position: absolute;

      left: calc(50vw - 837px);
      top: 410px;
    }

    & .pos-5 {
      position: absolute;

      left: calc(50vw - 258px);
      top: 363px;
    }

    & .pos-6 {
      position: absolute;

      left: calc(50vw - 232px);
      top: 525px;

      @media only screen and (min-width: $mobile-width) {
        top: 504px;
      }
    }

    & .pos-7 {
      position: absolute;

      left: calc(50vw + 91px);
      top: 452px;
    }

    & .pos-8 {
      position: absolute;

      left: calc(50vw + 71px);
      top: 122px;
    }

    & .pos-9 {
      position: absolute;

      left: calc(50vw + 133px);
      top: 165px;
    }

    & .pos-10 {
      position: absolute;

      left: calc(50vw + 317px);
      top: 302px;
    }

    & .pos-11 {
      position: absolute;

      left: calc(50vw + 487px);
      top: 356px;
    }

    & .above {
      z-index: 2;
    }

    & .op-100 {
      opacity: 1;
    }

    & .op-83 {
      opacity: 0.83;
    }

    & .op-82 {
      opacity: 0.82;
    }

    & .op-79 {
      opacity: 0.79;
    }

    & .op-76 {
      opacity: 0.76;
    }

    & .op-74 {
      opacity: 0.74;
    }

    & .op-64 {
      opacity: 0.64;
    }

    & .op-61 {
      opacity: 0.61;
    }

    & .op-58 {
      opacity: 0.58;
    }

    & .grad-1 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-1, 0) 17%,
        $wasd-grad-1
      );
    }

    & .grad-2 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-2, 0) 17%,
        $wasd-grad-2
      );
    }

    & .grad-3 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-3, 0) 17%,
        $wasd-grad-3
      );
    }

    & .grad-4 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-4, 0) 17%,
        $wasd-grad-4
      );
    }

    & .grad-5 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-5, 0) 17%,
        $wasd-grad-5
      );
    }

    & .grad-6 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-6, 0) 17%,
        $wasd-grad-6
      );
    }

    & .grad-7 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-7, 0) 17%,
        $wasd-grad-7
      );
    }

    & .grad-8 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-8, 0) 17%,
        $wasd-grad-8
      );
    }

    & .grad-9 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-9, 0) 17%,
        $wasd-grad-9
      );
    }

    & .grad-10 {
      background-image: linear-gradient(
        -90deg,
        rgba($wasd-grad-10, 0) 17%,
        $wasd-grad-10
      );
    }

    & .size-1 {
      width: 536px;
      height: 98px;
    }

    & .size-2 {
      width: 328px;
      height: 60px;
    }

    & .size-3 {
      width: 294px;
      height: 54px;
    }

    & .size-4 {
      width: 218px;
      height: 40px;
    }

    & .size-5 {
      width: 122px;
      height: 22px;
    }

    & .size-6 {
      width: 64px;
      height: 12px;
    }

    & .size-7 {
      width: 272px;
      height: 50px;
    }
  }

  & hr.hero-divider {
    width: 250px;
    height: 2px;

    margin-top: 0;

    background-color: $hero-divider;

    border-radius: 1px;
  }

  & svg#wasd-keys {
    max-width: 326px;

    & g.hero-text-fill {
      fill: $hero-text;
    }
  }

  & svg#hero-wave-mask {
    min-width: auto;
    margin-bottom: -1px;
    z-index: 10;

    & path.wave-mask {
      fill: $body-background-color;
    }

    & path.wave-tint {
      fill: $hero-gradient-tint;
      opacity: 0.43;
    }
  }
}

hr.title-divider {
  max-width: 200px;
  height: 2px;
  border-radius: 1px;

  background-color: rgba($secondary, 0.8);
}

.button.is-wasd.is-wasd.is-wasd {
  position: relative;
  top: 0px;

  transition: top 0.1s ease-in-out, box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  background-color: lighten($hero-button, 9%);
  color: $primary;

  border: 0px solid transparent;

  text-decoration: none;

  box-shadow: 0 2px 4px rgba(darken($primary, 5%), 0.3);

  border-radius: 6px;

  &:hover,
  &:focus {
    top: -1px;
    box-shadow: 0 3px 6px rgba(darken($primary, 5%), 0.5);

    background-color: lighten($hero-button, 17%);
  }

  margin-bottom: 5px;
}

.navbar {
  & .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    flex-grow: 1;

    height: auto;

    & .navbar-start,
    & .navbar-end {
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }

    & .navbar-start {
      margin-top: 5px;
    }

    & .navbar-end {
      justify-content: center;
    }

    padding: 0 1.5rem;

    @media screen and (min-width: $mobile-width) {
      flex-grow: 0;

      height: 60px;

      & .navbar-start,
      & .navbar-end {
        flex-grow: 0;

        height: auto;
      }
    }

    & a.navbar-item {
      text-decoration: none;

      color: $hero-text;

      padding: 7px 10px;
      border-radius: 6px;

      box-shadow: 0 0 0 transparent;

      transition: background-color 0.1s ease-in-out, color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover,
      &:focus {
        background-color: $hero-text;
        color: $primary;

        box-shadow: 0 2px 4px rgba(darken($primary, 15%), 0.3);
      }
    }
  }
}

:root {
  --stopwatch-rotation: 0deg;
}

path#stopwatch-hand {
  transform: rotate(var(--stopwatch-rotation));
  transform-origin: 234.5px 161px;
}

svg .primary-fill {
  fill: $primary;
}

svg .primary-stroke {
  stroke: $primary;
}

svg .secondary-stroke {
  stroke: $secondary;
}

svg .background-fill {
  fill: $body-background-color;
}

.logo-level:not(:first-child) {
  margin-top: 40px;

  & h4 {
    color: hsl(0, 0%, 48%);
    margin-bottom: 20px;

    @media screen and (min-width: 769px) {
      text-align: center;
    }
  }

  & a {
    max-height: 60px;

    &.pad-635 {
      padding-left: 63.5px;
      padding-right: 63.5px;
    }

    &.mw-187 {
      min-width: 187px;
    }

    & img {
      max-height: inherit;

      filter: opacity(75%);
      transition: filter 0.2s ease-in-out;

      &.we {
        filter: opacity(60%);
      }

      &.uwcs {
        filter: opacity(65%);
      }
    }

    &.large {
      max-height: 90px;
    }

    &:hover img,
    &:focus img {
      filter: opacity(100%);
    }
  }

  & .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    @media screen and (min-width: 769px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: start;
    }
  }
}

.where-wrapper {
  position: relative;

  & svg {
    position: relative;
    z-index: 999;
  }

  & #event-bottom-mask {
    position: relative;
    z-index: 999;
  }

  background-image: linear-gradient(
    175deg,
    $where-grad-start -20%,
    $where-grad-end 70%
  );

  & .where-streaks {
    position: absolute;
    bottom: -121px;

    & * {
      transform: rotate(188deg);

      border-radius: 49px;
    }

    & .grad-1 {
      background-image: linear-gradient(
        -90deg,
        rgba($where-grad-1, 0) 17%,
        $where-grad-1
      );
    }

    & .grad-2 {
      background-image: linear-gradient(
        -90deg,
        rgba($where-grad-2, 0) 17%,
        $where-grad-2
      );
    }

    & .grad-3 {
      background-image: linear-gradient(
        -90deg,
        rgba($where-grad-3, 0) 17%,
        $where-grad-3
      );
    }

    & .grad-4 {
      background-image: linear-gradient(
        -90deg,
        rgba($where-grad-4, 0) 17%,
        $where-grad-4
      );
    }

    & .grad-5 {
      background-image: linear-gradient(
        -90deg,
        rgba($where-grad-5, 0) 17%,
        $where-grad-5
      );
    }

    & .pos-1 {
      position: absolute;

      left: calc(50vw - 640px);
      top: -363px;
    }

    & .pos-2 {
      position: absolute;

      left: calc(50vw - 46px);
      top: -215px;
    }

    & .pos-3 {
      position: absolute;

      left: calc(50vw + 257px);
      top: -465px;
    }

    & .pos-4 {
      position: absolute;

      left: calc(50vw - 507px);
      top: -283px;
    }

    & .pos-5 {
      position: absolute;

      left: calc(50vw - 101px);
      top: -1264px;
    }

    & .pos-6 {
      position: absolute;
      
      left: calc(50vw - 452px);
      top: -1198px;
    }

    & .size-1 {
      width: 596px;
      height: 98px;
    }

    & .size-2 {
      width: 328px;
      height: 60px;
    }

    & .size-3 {
      width: 294px;
      height: 54px;
    }

    & .size-4 {
      width: 218px;
      height: 40px;
    }

    & .op-64 {
      opacity: 0.64;
    }

    & .op-34 {
      opacity: 0.34;
    }

    & .op-58 {
      opacity: 0.58;
    }
    & .op-44 {
      opacity: 0.44;
    }
  }

  & svg:last-child {
    margin-bottom: -7px;
  }

  & svg {
    min-width: auto;
  }

  & #where {
    min-height: 500px;
    position: relative;

    & hr.title-divider {
      background-color: rgba($where-text, 0.7);

      margin-bottom: 0;
    }
  }

  & .title {
    color: $where-text;
  }

  & .content {
    & p,
    & a,
    & h4,
    & strong {
      color: $where-text;
    }

    & a {
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $white;
      }
    }

    & h4:not(:first-child) {
      margin-top: 1.2em;
    }

    & iframe {
      margin-top: 1.2em;
      border-radius: $radius;
      width: 100%;
      height: 400px;

      box-shadow: 0 3px 6px rgba(darken($where-grad-end, 15%), 0.3);
    }
  }
}

.whats-on-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-gap: $block-spacing;

  @media screen and (min-width: $tablet) {
    grid-template-columns: auto auto;
  }

  & .content {
    & a {
      color: lighten($where-grad-end, 5%);

      &:hover,
      &:focus {
        color: lighten($where-grad-end, 20%);
      }
    }
    
    & h4 {
      text-align: center;

      font-size: 1.5rem;
    }

    & p img {
      border-radius: $radius;

      box-shadow: 0 2px 4px rgba(black, 0.2);
      width: calc(100% - 4em);
      margin-left: 2em;
      margin-right: 2em;
      margin-bottom: 1em;
    }
  }
}

#whats-on {
  & hr.title-divider {
    background-color: rgba($where-grad-end, 0.8);
  }

  & .whats-on-row {
    margin-bottom: $block-spacing;
  }

  & .button.is-wasd.is-wasd.is-wasd {
    background-color: $where-grad-end;
    color: white;

    box-shadow: 0 2px 4px rgba(darken($where-grad-end, 0%), 0.2);

    border-radius: 6px;

    &:hover,
    &:focus {
      top: -1px;
      box-shadow: 0 3px 6px rgba(darken($where-grad-end, 0%), 0.25);

      background-color: lighten($where-grad-end, 5%);
    }

    margin-bottom: 5px;
  }
}

#signupBottom {
  margin-top: 2em;
}

.has-text-centered {
  text-align: center;
}

footer.footer {
  background-color: $where-grad-end;
  color: rgba(white, 0.85);

  & svg {
    min-width: auto;
  }

  & .columns {
    align-items: flex-end;
  }

  & .socials-title {
    color: rgba(white, 0.9);

    margin-bottom: 0.4em;
  }

  & .content {
    & a {
      text-decoration: underline;

      color: rgba(white, 0.85);

      &:hover,
      &:focus {
        color: white;
      }
    }
  }

  & .socials {
    & li {
      display: inline-block;

      & a {
        font-size: 36px;
        color: rgba(white, 0.7);

        margin-right: 1rem;

        transition: color 0.1s ease-in-out;

        &:hover,
        &:focus {
          color: rgba(white, 0.9);
        }
      }
    }
  }
}
