@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

$family-sans-serif: 'Montserrat', Arial, sans-serif;

$wasd-background: #FAFAFA;
$wasd-blue: #3C99FF;
$wasd-teal: #83FFCE;
$wasd-indigo: #8896ff;
$wasd-purple: rgb(146, 116, 255);
$wasd-light-blue: #57EDFF;

$wasd-violet: #8338EC;
$wasd-magenta: #FF006E;
$wasd-orange: #FB5607;

$hero-gradient-end: $wasd-magenta;
$hero-gradient-start: $wasd-violet;
$hero-gradient-tint: #FFBD9E;
$hero-text: #f2e1f3;
$hero-divider: #ffadf8;
$hero-button: #F6B6FF;

$wasd-grad-1: #F477FF;
$wasd-grad-2: #CF95FF;
$wasd-grad-3: #D86DFF;
$wasd-grad-4: #FF65E0;
$wasd-grad-5: #885DFF;
$wasd-grad-6: #9B6DFF;
$wasd-grad-7: #D971FF;
$wasd-grad-8: #E68BF2;
$wasd-grad-9: #F78AA9;
$wasd-grad-10: #FFB6D1;

$where-grad-start: #ff6b00;
$where-grad-end: #3300A4;
$where-text: $hero-text;

$where-grad-1: #FF90B4;
$where-grad-2: #6DC3EC;
$where-grad-3: #D86DFF;
$where-grad-4: #8765FF;
$where-grad-5: #ffb390;

// Screen width overrides
$mobile-width: 400px;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $wasd-background;

$navbar-background-colour: transparent;
$navbar-item-hover-background-color: transparent;

$primary: $wasd-violet;
$secondary: $wasd-magenta;

@import "../node_modules/bulma/sass/utilities/_all.sass";

@import "custom";

// @import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
// @import "../node_modules/bulma/sass/components/level.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
